.share-button-container {
  position: relative;
  display: inline-block;
}

.share-options {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
}
