@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --black: #111;
  --white: #fff;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--black);
  color: var(--white);
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3rem;
}

a {
  color: var(--white) !important;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.coin-page {
  display: block;
  width: 90%;
  margin: 1rem auto;
  background-color: var(--darkgrey);
  border-radius: 0.8rem;
  padding: 0rem 1.5rem;
}
.line-chart {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.coins-days-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 800px) {
  .coins-days-flex {
    justify-content: space-between;
    gap: 0;
  }
}
